<div id="emp-form">
<%= hidden_field_tag "employee[current_skills][]", "" %>
<%= hidden_field_tag "employee[skills_interested_in][]", "" %>

<%= form_for(@employee) do |f| %>
  <% if @employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employee.errors.count, "error") %> prohibited this employee from being saved:</h2>
      <ul>
      <% @employee.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div id="emp-first">
  <div class="field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div>
</div>
<div id="emp-second">  
  <div class="field">
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div>
</div>

<div id="emp-third">
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
</div>

<div id="emp-fourth">  
  <div class="field">
    <%= f.label :location, 'Office' %>
    <%= collection_select(:employee, :location_id, @locations, :id, :name, :prompt => true, :selected => 1) %>
    </div>
</div>

<div id="emp-fifth">  
  <div class="field">
    <%= f.label :department %>
    <%= collection_select(:employee, :department_id, @departments, :id, :name, :prompt => true, :selected => 1) %>
  </div>
</div>

<div id="emp-sixth">
  <div class="field">
    <%= f.label :group %>
    <%= collection_select(:employee, :group_id, @groups, :id, :name, :prompt => true, :selected => 1) %> </div>
  </div>

<div id="emp-seventh">
 <div class="field">
    <%= f.label :position, 'Job Title' %>
    <%= collection_select(:employee, :position_id, @positions, :id, :name, :prompt => true, :selected => 1) %>
  </div>
</div>
<div id="emp-eighth">  
  <div class="field">
    <%= f.label :immediate_supervisor %>
    <%= f.text_field :manager %>
  </div>
</div>
<div id="emp-ninth">  
  <div class="field">
    <%= f.label :years_with_company %>
    <%= f.select :years_with_company, ['1','2','3','4','5','6','7','8','9','10-15','16-20', '21-25', '25-30'] %>
  </div>
</div>
<div id="emp-tenth">     
  <div id="emp-description">
    <div class="field">
      <%= f.label :description %><br/>
      <%= f.text_area :description, :size => "55x6" %>
    </div>
  </div>
</div>
<div id="emp-eleventh">
  <%= image_tag @employee.image_url, :height => 80 %></br>
  <%= "Upload Your Photo" %>
   <%= f.file_field :image %></br>
</div>

<div id = "dev-skill-exp"> 
  <ul>
    <li><%= "0 = No experience" %></li>
    <li><%= "1 = Beginner" %></li>
    <li><%= "2 = Middle Proficiency" %></li>
    <li><%= "3 = Proficient" %></li>
    <li><%= "4 = Expert" %></li>
  </ul>
</div>

<div id="dev-skill-field">
  <div class="field">
    <%= f.label :current_skills %>
    <table>
      <% @skills.each do |skill| %>
      <div class="inbox">
       <tr>
        <td><%= skill.language %></td>
        <td><% (0..4).each do |level| %>
          <%= radio_button_tag "employee[current_skills][#{skill.id}]", "#{level}", @employee.has_skill_level(skill.id, level) %>
          <%= level %>
        <% end %></td></tr>
      </div>
      <% end %>
    </table>
  </div>
</div>

<div id = "des-skill-exp"> 
  <ul>
    <li><%= "0 = No interest" %></li>
    <li><%= "1 = Slight interest" %></li>
    <li><%= "2 = Moderate interest" %></li>
    <li><%= "3 = Interested" %></li>
    <li><%= "4 = Very Interested" %></li>
  </ul>
</div>

<div id="des-skill-field">
  <div class="field">
    <%= f.label :desired_skills %>
    <table>
      <% @skills.each do |skill| %>
      <div class="inbox">
      <tr>
        <td><%= skill.language %></td>
        <td><% (0..4).each do |level| %>
            <%= radio_button_tag "employee[skills_interested_in][#{skill.id}]", "#{level}", @employee.wants_skill_level(skill.id, level) %>
            <%= level %>
            <% end %>
        </td>
      </tr>
      </div>
      <% end %>
    </table>
  </div>
</div>
   
<div id="emp-fourteenth">
  <div id="emp-update">
    <%= f.submit "Update Profile", class: "btn btn-large btn-primary" %>
    <div id="emp-cancel-update">
      <%= f.submit 'Cancel', :action => 'update', :name => 'cancel_button' %>
    </div>
  <% end %>
  </div>
    
</div>

</div> 