<p></p>
<div id="innercontainer">

<h2>Sign up for your OneTeam Account</h2>

<%= form_for(@employee) do |f| %>
  <div class="frstnm">
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div>
  <div class="lnfield">
      <%= f.label :last_name %>
      <%= f.text_field :last_name %>
  </div>
  <div class="newemail">
      <%= f.label :email %>
      <%= f.text_field :email %>
  </div>
  <div class="passfld">
      <%= f.label :password %>
      <%= f.password_field :password %>
  </div>
 <div class="newsecond">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation %>
</div>
 
<div class="actions">
  <%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
  <div class="emp-cancel-new">
    <%= f.submit 'Cancel', :action => 'create', :name => 'cancel_button' %>
  </div>
  <% end %>
</div>

</div>