<p id="notice"><%= notice %></p>

<div id="tabs"> 
  <ul>
    <li><%= link_to 'All Requests', requests_path%></li>
    <li><%= link_to "Requests I've Posted",  _employee_requests_path %></li>
    <li id="selected"><%= link_to 'Profile', employee_path(current_employee) %></li>
  </ul>
</div>

<div id="innercontainer">
  <div id="emp-left-column">
    <div id="profile_pic">
      <% if current_employee.id == @employee.id %>
        <%= link_to 'Update Profile', edit_employee_path(current_employee) %> </br>
        <%= link_to image_tag(@employee.image_url, :height => 100), edit_employee_path(current_employee) %>
      <% else %>
        </br>
        <%= image_tag(@employee.image_url, :height => 100) %>
      <% end %>
    </div>
  </div>
  <div id = "emp-right-column">
    <div id = "profile">
      <ul>
        <li>First Name: <%= @employee.first_name %></li>
        <li>Last Name: <%= @employee.last_name %></li>
        <li>Email: <%= @employee.email %></li>
        <li>Office: <%= @employee.location %></li>
        <li>Department: <%= @employee.department %></li>
        <li>Group: <%= @employee.group %></li>
        <li>Job Title: <%= @employee.position %></li>
        <li>Immediate Supervisor: <%= @employee.manager %></li>
        <li>Years with Company: <%= @employee.years_with_company %></li>
        <li>Description: <%= @employee.description %></li>
        </ul>
      <ul>
        <li>Current Skills:</li>
        <li><% @skillname = [] %>
            <% @employee.developer_skills.each do |dev_skill| %>
              <% show_skill_and_level(dev_skill) %>
            <% end %>
            <%= @skillname.join(", ") %></li>
      </ul>
      <ul>
        <li>Skills Interest In:</li>
        <li><% @skillname = [] %>
            <% @employee.desired_skills.each do |des_skill| %>
              <% show_skill_and_level(des_skill) %>
            <% end %>
            <%= @skillname.join(", ") %></li>
      </ul>

      <% if @employee.evaluation_check == true %>
        <table>
          <tr>
            <th>Skill</th>
            <th>Experience Points</th>
            <% if @employee.id == current_employee.id %>
              <th>Average Evaluation </th>
            <% end %>
          </tr>
    
        <% @skills.each do |skill| %> 
          <% if @employee.total_evaluations(skill) != 0 %>
            <tr>
              <td><%= skill.language %> </td>
              <td><%= @employee.id == current_employee.id %></td>
              <% if @employee.id == current_employee.id %>
                <td><%= @employee.average_eval(skill) %></td>
              <% end %>
            </tr>
          <% end %>  
        </table>
        <% end %>
      <% end %>  

    <ul>
      <li>Projects <%= @employee.first_name %> <%= @employee.last_name %> has worked on:</li>
      <%= image_tag "divider-line-2.jpg" %>
      <%= paginate @my_commissions %>
        <% @commissions.each do |commission| %>
          <% if commission.employee_id == @employee.id %>
            <li><%= commission.response.request.title %>: <%= commission.response.request.start_date %> to <%= commission.response.request.end_date %> (<%= commission.response.request.project_status %>)</br></li>
          <% end %>
          <% if commission.employee_id == current_employee.id %>
            <% if !commission.reward.nil? %>
              Evaluation for this Project: <%= commission.employee.view_rewards(commission) %>
            <% end %>
          <% end %>
        <% end %>
    </ul>

  </div>
</div>  