<p id="notice"><%= notice %></p>

<div id="tabs"> 
  <ul>
    <li><%= link_to 'All Requests', requests_path%></li>
    <li><%= link_to "Requests I've Posted",  _employee_requests_path %></li>
    <% if current_employee.id == @employee.id %>
      <li id="selected"><%= link_to 'My Profile', employee_path(current_employee) %></li>     
    <% else %>
      <li id="selected"><%= link_to 'Profile', employee_path(@employee.id) %></li>
    <% end %> 
  </ul>
</div>

<div id="innercontainer">
  <div id="emp-left-column">
    <div id="profile_pic">
      <% if current_employee.id == @employee.id %>
        <%= link_to 'Update Profile', edit_employee_path(current_employee) %> </br>
        <%= link_to image_tag(@employee.image_url, :height => 100), edit_employee_path(current_employee) %>
      <% else %>
        </br>
        <%= image_tag(@employee.image_url, :height => 100) %>
      <% end %>
    </div>
  </div>
  <div id = "emp-right-column">
    <div id = "profile">
      <ul>
        <li>First Name: <%= @employee.first_name %></li>
        <li>Last Name: <%= @employee.last_name %></li>
        <li>Email: <%= @employee.email %></li>
        <li>Office: <%= @employee.location.name %></li>
        <li>Department: <%= @employee.department.name %></li>
        <li>Group: <%= @employee.group.name %></li>
        <li>Job Title: <%= @employee.position.name %></li>
        <li>Immediate Supervisor: <%= @employee.manager %></li>
        <li>Years with Company: <%= @employee.years_with_company %></li>
      </ul>
      <ul>
        <li>Description: <%= @employee.description %></li>
      </ul>

      <% if @employee.id == current_employee.id %>
        <ul>
          <li>Current Skills:</li>
          <li><%= @employee.show_dev_skill_and_level %></li>
        </ul>
        <ul>
          <li>Skills Interest In:</li>
          <li><%= @employee.show_des_skill_and_level %></li>
        </ul>
      <% end %>

        <% if !@employee.evaluations.nil? %>
        <table class = "emp-small-indent">
          <tr>
            <th>Skill</th>
            <th>Total Experience Points</th>
            <% if @employee.id == current_employee.id %>
              <th>Average Skill Level Evaluation </th>
            <% end %>
          </tr>
        <% @skills.each do |skill| %> 
            <tr>
              <td class = "emp-centered"><%= skill.language %> </td>
              <td class = "emp-centered"><%= @employee.total_evaluations(skill) %></td>
              <% if @employee.id == current_employee.id %>
                <td class = "emp-centered"><%= @employee.average_skill_level(skill) %></td>
              <% end %>
            </tr>
        <% end %>           
        </table>
      <% end %>  

    <ul>
      <li>Projects 
        <% if @employee.id == current_employee.id %>
          you have
        <% else %>
          <%= @employee.first_name %> <%= @employee.last_name %> has
        <% end %>
          worked on:
      </li>

      <%= image_tag "divider-line-2.jpg" %>
        <% @commissions.each do |commission| %>
            <li><b><%= commission.response.request.title.capitalize %></b>: <%= commission.response.request.start_date %> to <%= commission.response.request.end_date %> (<%= commission.response.request.project_status %>)</br></li>
          <% if !commission.reward.nil? %>
              <b>Experience Points for this Project:</b></br> <%= commission.employee.view_rewards(commission) %>

          <% end %>
              <%= image_tag "divider-line-2.jpg" %>

        <% end %>
    </ul>

  </div>
</div>  