
<div id="tabs">
  <ul>
    <li id="selected"><%= link_to 'New Reward' %></li>
    <li><%= link_to "Requests I've Posted", _employee_requests_path %></li>
    <li><%= link_to 'My Profile', employee_path(current_employee) %></li>
  </ul>
</div>

<div id="innercontainer">

<%= form_for ([@commission, @reward]) do |f| %>
  <% if @reward.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reward.errors.count, "error") %> prohibited this reward from being saved:</h2>
      <ul>
      <% @reward.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">

  <p> Give experience points based on the number of days worked and select</br>
    the skill level demonstrated by <%= @commission.employee.first_name %> <%= @commission.employee.last_name %> during the project, '<%= @reward.commission.response.request.title.capitalize %>'. </p>
  <%= f.label :reward_date %>
  <%= f.date_select(:reward_date, :order => [:month, :day, :year], :default => Date.today) %>  
  
  <p>
     Possible Experience Points: 0 to <%= @reward.commission.response.request.duration_in_days %></br>
     Possible Skill Levels: 0 = No experience, 1 = Beginner, 2 = Middle Proficiency, 3 = Proficient, 4 = Expert</p> 

  <table>
    <tr><th>Skill</th>
        <th>Experience Level</th>
        <th>Select Points</th>
        <th>Select Experience Level</th>
    </tr>
    <% @developer_skills.each do |developer_skill| %>
    <% if developer_skill.employee_id == @reward.commission.employee_id %>  
    <tr>
      <% @skills.each do |skill| %>
        <% if developer_skill.skill_id == skill.id %>
          <td> <%= skill.language %></td>
        <% end %>
      <% end %>
        <td><%= developer_skill.level %></td>

        <%= f.fields_for :evaluations do |builder| %>
          <td><%= builder.label :eval_number, "Experience Points" %>
              <%= builder.select(:eval_number, (0..@reward.commission.response.request.duration_in_days)) %> </td> 
          <td><%= builder.label :level, "Skill Level" %>
          <td><%= builder.select :level, [0, 1, 2, 3, 4], :selected => developer_skill.level %></td>
          <%= builder.hidden_field :skill_id, :value => developer_skill.skill_id %>
        <% end %>
      <% end %> 
    </tr>
    <% end %>
  </table>

  <%= f.submit %>
  </div>
<% end %>
</div>