
<div id="question">
  <p>Are you sure you want to cancel "<%= @request.title %>" ?</p> 
</div>

<%= form_for(@request) do |f| %>
  <div class="field">
    <%= f.hidden_field :employee_id, :value => current_employee.id %>
  </div>

<%= f.hidden_field :status, :value => 'Cancelled' %>
<%= f.hidden_field :employee_id, :value => current_employee.id %>
  <div class="actions">
    <div id="cancel-req">
      <%= f.submit 'Cancel Request' %>
    </div>
    <div class="req-cancel-new">
      <%= f.submit "Don't Cancel Request", :action => 'update', :name => 'cancel_button' %>
    </div>
<% end %>
  </div>

</div>

</div>