
<div id="question">
  <p>Are you sure you want to cancel "<%= @request.title %>" ?</p> 
</div>

<%= form_for(@request) do |f| %>
  <div class="field">
    <%= f.hidden_field :employee_id, :value => current_employee.id %>
  </div>
  <div class = "field">
    <%= f.hidden_field :status, :value => 'Cancelled' %>
    <%= f.hidden_field :employee_id, :value => current_employee.id %>
  </div>
  <div class="actions">
    <div id="cancel-req">
      <%= f.submit 'Cancel Request', :name => 'cancel_request' %> 
    
      <div id="req-cancel-cancel">
        <%= f.submit "Don't Cancel Request", :action => 'update', :name => 'cancel_button' %>
      </div>
    </div>
  </div>
<% end %>
