
<p id="notice"><%= notice %></p>

<div id="tabs"> 
  <ul>
    <li><%= link_to 'All Requests', requests_path%></li>
    <li id="selected"><%= link_to "Cancel My Request" %></li>
    <li><%= link_to "Requests I've Posted", _my_requests_path %></li>
    <li><%= link_to 'My Profile', employee_path(current_employee) %></li>     
  </ul>
</div>

<div id="innercontainer">

<div id="question">
	<p>Are you sure you want to cancel this request?</p>
</div>

<%= form_for(@request) do |f| %>
<%= f.hidden_field :status, :value => 'Cancelled' %>
<%= f.hidden_field :employee_id, :value => current_employee.id %>
  <div class="actions">
    <div id="cancel-req">
      <%= f.submit 'Cancel Request' %>
    </div>
    <div class="req-cancel-new">
      <%= f.submit "Don't Cancel Request", :action => 'update', :name => 'cancel_button' %>
    </div>
<% end %>
  </div>

</div>