<p id="notice"><%= notice %></p>

<div id="tabs">
  <ul>
    <li id="selected"><%= link_to 'All Requests', requests_path%></li>
    <li><%= link_to "Requests I've Posted", 'employee_requests' %></li>
    <li><%= link_to 'My Profile', employee_path(current_employee) %></li>
  </ul>
</div>

<div id="innercontainer">


<p><%= link_to 'Create New Request', new_request_path %></p>
<h1>All Requests</h1>
<div id="requests">
<%= paginate @open_requests %>

  <% @open_requests.each do |request| %>
      <% applied = 0 %>
      <%= image_tag "divider-line.jpg" %>
      <p><b><%= request.title %>:</b> <%= request.start_date %> to <%= request.end_date %> (Status: <%= request.status_text %>)</br>
      Posted by: <%= request.employee.first_name %> <%= request.employee.last_name %> in <%= request.employee.location %> Office (Group: <%= request.employee.group %>) </br>
      Description: <%= request.description %></br></br>
      Required Skills: <%= request.relevant_skills %></br>

      Your Interest Rating:<%= request.interest_count(request.relevant_skills, current_employee.skills_interested_in) %></br>
      Your Qualified Rating: <%= request.qualified_count(request.relevant_skills, current_employee.current_skills) %></br>  

      <% commissions = request.get_commissions %>
      <div id="note"><%= request.already_assigned? %></div>
        <% if !request.already_assigned? %>
          <% if author? (request) %>
            <div id="note"><%= "You posted this request." %></div>
          <% else %>
          
            <% responses = request.get_responses %>
            <% responses.each do |response| %> 
              <% if response.employee_id == current_employee.id %>
                <%= image_tag "applied_button.jpg" %>
                <% applied = 1 %>
              <% end %>             
            <% end %>
          
            <% if applied == 0 %>
              <div id="apply-button">
                <%= link_to image_tag("apply_button.jpg"), new_request_response_path(request) %></br>            
              </div>
            <% end %>  
        <% end %>  
      <% end %>
    <% end %>

</br>
<%= paginate @open_requests %>

</br>
</div>