<%= simple_form_for(@desired_skill) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :skill_id %>
    <%= f.input :employee_id %>
    <%= f.input :interest %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
